@{
    ViewData["Title"] = "Home Page";
}

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <link rel="shortcut icon" href="~/images/favicon.png" type="">

    <title> DevForgeConnect </title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

    <!-- font awesome style -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/css/responsive.css" rel="stylesheet" />

</head>



    <div class="hero_area">

        <div class="hero_bg_box">
            <div class="bg_img_box">
                <img src="~/images/hero-bg.png" alt="">
            </div>
        </div>

        <!-- slider section -->
        <section class="slider_section ">
            <div id="customCarousel1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container ">
                            <div class="row">
                                <div class="col-md-6 ">
                                    <div class="detail-box">
                                        <h1>
                                        DevForge_<span>Connect</span>
                                        </h1>
                                        <p>
                                            The goal of DevForge-Connect is to give users a platform to bring their project ideas and concepts into reality.​ 
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="img-box">
                                        <img src="images/slider-img.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
             </div>
        </section>
        <!-- end slider section -->
    </div>


    <!-- service section -->

    <section class="service_section layout_padding">
        <div class="service_container">
            <div class="container ">
                <div class="heading_container heading_center">
                    <h2>
                        Our <span>Services</span>
                    </h2>
                    <p>
                        Bring your software ideas to reality
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-4 ">
                        <div class="box ">
                            <div class="img-box">
                                <img src="images/s1.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Account Creation
                                </h5>
                                <p>
                                    Create an account in mear moments and instantly jumpstart your ideas by gaining acces to our premier services.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="box ">
                            <div class="img-box">
                                <img src="images/s2.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    AI Processing
                                </h5>
                                <p>
                                    All your ideas that are submitted to the site will be processed through our NLP to ensure all your ideas are fitted to the right developer for the job.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="box ">
                            <div class="img-box">
                                <img src="images/s3.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Expert Support
                                </h5>
                                <p>
                                    Need help? Talk with our AI chat bot to help you get started and answer any questions. Then after submiting your ideas a real developer will be connected to you to help make your ideas into a fully functional app.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end service section -->
    <!-- info section -->
    <!--
    <section class="info_section layout_padding2">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3 mx-auto info_col">
                    <div class="info_contact">
                        <h4>
                            Address
                        </h4>
                        <div class="contact_link_box">
                            <a href="">
                                
                                <span>
                                    University of Southern Indiana, 8600 University Blvd, Evansville, IN 47712
                                </span>
                            </a>
                            <a href="">
                                
                                <span>
                                    Call +01 812-465-1080
                                </span>
                            </a>
                            <a href="">
                                
                                <span>
                                     IT@usi.edu
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
             
             
                <div class="col-md-6 col-lg-3 mx-auto info_col">
                    <div class="info_detail">
                        <h4>
                            Info
                        </h4>
                        <p>
                            Created and developed by students of University of Southern Indiana using technical skills of NLP, AI, web development, database managment, and more.
                        </p>
                    </div>
                </div>
            
            
                <div class="col-md-6 col-lg-2 mx-auto info_col">
                    <div class="info_link_box">
                        <h4>
                            Links
                        </h4>
                        <div class="info_links">
                            <a class="active" href="index.html">
                                Home
                            </a>
                            <a class="" href="about.html">
                                Project Submission
                            </a>
                            <a class="" href="service.html">
                                About
                        </div>
                    </div>
                </div>
            </div>
         </div>
        
    </section>

    -->