<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DevForge_Connect</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.7/css/dataTables.dataTables.css" />
  


    <link rel="stylesheet" href="~/DevForge_Connect.styles.css" asp-append-version="true" />
</head>
<body class="">
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 text-white text-decoration-none me-auto ms-auto">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav flex-column mb-auto me-auto ms-auto">
                        <li class="nav-item btn btn-lg btn-outline-warning">
                        <a class="nav-link text-light align-middle w-100" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                        <li class="nav-item btn btn-lg btn-outline-warning">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                        <li class="nav-item btn btn-lg btn-outline-warning">
                        <a class="nav-link text-light" asp-area="" asp-controller="ProjectSubmissions" asp-action="Index">Projects</a>
                    </li>
                        <li class="nav-item btn btn-lg btn-outline-warning">
                        <a class="nav-link text-light" asp-area="" asp-controller="ProjectBids" asp-action="Index">Bids</a>
                    </li>
                        <li class="nav-item btn btn-lg btn-outline-warning">
                        <a class="nav-link text-light" asp-area="" asp-controller="Status" asp-action="Index">Statuses</a>
                    </li>
                        <li class="nav-item btn btn-lg btn-outline-warning">
                        <a class="nav-link text-light" asp-area="" asp-controller="Teams" asp-action="Index">Teams</a>
                    </li>
                        <li class="nav-item btn btn-lg btn-outline-warning">
                        <a class="nav-link text-light" asp-area="" asp-controller="UserTeams" asp-action="Index">User Teams</a>
                    </li>

                </ul>
                <partial name="_LoginPartial"/>
            </div>
        </div>
        <div class="col">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
</div>

@*     <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - DevForge_Connect - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/2.1.7/js/dataTables.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
