@model DevForge_Connect.Entities.ProjectBid

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ProjectBid</h4>
<hr />
<div class="row">
    <div class="col">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OfferAmount" class="control-label"></label>
                <input asp-for="OfferAmount" class="form-control" />
                <span asp-validation-for="OfferAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProposalDescription" class="control-label"></label>
                <textarea asp-for="ProposalDescription" class="form-control"></textarea>
                <span asp-validation-for="ProposalDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinishDate" class="control-label"></label>
                <input asp-for="FinishDate" class="form-control" />
                <span asp-validation-for="FinishDate" class="text-danger"></span>
            </div>
            @Html.HiddenFor(p => p.ProjectId)
            <!--Work Around-->
            <div class="form-group" style="display: none;>
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>

            <!--@Html.HiddenFor(p => p.UserId)--> <!-- I want this but when I put it in, the form's create button does nothing-->

            <div class="form-group">
                <label asp-for="TeamId" class="control-label"></label>
                <select asp-for="TeamId" class="form-control" asp-items="ViewBag.TeamId" aria-label="Select your country">
                    <option value="-1">Select Team</option>
                </select>
            </div>

            @Html.HiddenFor(p => p.StatusId)
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
