@using DevForge_Connect.Entities.Identity
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.EntityFrameworkCore
@model DevForge_Connect.Entities.TeamInvite
@inject UserManager<ApplicationUser> _userManager;

<div class="row">
    <form asp-action="Create" asp-controller="TeamInvites">
        <label asp-for="UserId" class="control-label"></label>
        <input asp-for="UserId" type="text" class="form-control" class="form-control" placeholder="App User" list="list-users" id="input-datalist" />
        <span asp-validation-for="UserId" class="text-danger"></span>
        <datalist id="list-users">
            @{
                var fullUserList = await _userManager.Users.ToListAsync();

                foreach (var user in fullUserList)
                {
                    <option value="@user.Id">@user.Email</option>
                }

                @Html.HiddenFor(c => c.TeamId)
            }
        </datalist>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <input type="submit" value="Send Team Invite" class="btn btn-primary w-100"/>
        </div>
    </form>
</div>
